/* You can add global styles to this file, and also import other style files */
@import 'src/respresso/respresso-colors';

@font-face {
	font-family: "OpenSans";
	src: url("../src/respresso/font/open_sans_regular.ttf") format("truetype");
	font-weight: 400;
  }
@font-face {
	font-family: "OpenSans";
	src: url("../src/respresso/font/open_sans_bold.ttf") format("truetype");
	font-weight: 700;
}

body {
	font-family: 'OpenSans', sans-serif;
  	font-weight:400;
	background-color: $white;
}

h1, h2, h3, h4 {
	font-weight: 700;
}
